<div class="popup">
  <img class="popup__image" src="../../../assets/backImage.svg" alt="backgroundImage">
  <div class="popup__content">
    <img src="../../assets/loginLogo.svg" alt="Logo">
    <form class="popup__form" name="signin" [formGroup]="form" (ngSubmit)="submitForm()">
      <img class="popup__form_image-login" src="../../assets/user.svg" alt="userLogo">
      <input type="email" required class="popup__input" placeholder="Логин" formControlName="login">
      <img class="popup__form_image-pass" src="../../assets/passLock.svg" alt="userLogo">
      <div class="popup__form_image-pass eye"
              (click)="toggleFieldTextType()"
              [class.eye__image]="fieldTextType">
      </div>
      <input [type]="fieldTextType ? 'text' : 'password'" minlength="8" required
             class="popup__input popup__input_password" placeholder="Пароль" formControlName="password">
      <button type="submit" class="button popup__button popup__button_active">Войти</button>
    </form>
  </div>
</div>
